<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GreenPipes" version="2.1.4" targetFramework="net471" />
  <package id="MassTransit" version="5.3.2" targetFramework="net471" />
  <package id="MassTransit.AzureServiceBus" version="5.3.2" targetFramework="net471" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net471" />
  <package id="NewId" version="3.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net471" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="WindowsAzure.ServiceBus" version="4.1.11" targetFramework="net471" />
</packages>